
<footer>  
  <section class="al-c mg-t-l lh-4xs">
    <!--  -->
    <p>
      <span class="fc-dodgerblue fs-s"><%= SYS_NAME %></span>
      <span class="fc-dodgerblue fs-s"><%= SYS_NAME2 %></span>
      <span class="fc-dodgerblue fs-s">v<%= SYS_VERSION %></span> 
    </p>
    <!--  -->
    <p>
      <small class="fc-dodgerblue fs-s">
        <a href="https://wasankds.com" target="_blank">
          <span class="fc-dodgerblue">wasankds.com</span>
        </a>
      </small>
    </p>
    <!--  -->
    <p>
      <small class="fc-dodgerblue fs-s">
        <i class="fa fa-copyright mg-r-m"></i>วสันต์ คุณดิลกเศวต
      </small>
    </p>
  </section>
</footer>