<!-- Toolbar#1 -->
<div class="row">
  <label class="col-1-5 mg-r-s"></label>
  <button class="col-1-0 btn bg-clear pd-l-xl pd-r-xl lh-xn nowrap" type="button" 
          onclick="clearSelect()">
    <i class="fa fa-broom mg-r-m"></i>ล้างค่า
  </button> 
  <h3 class="col-7-5 al-c lh-xn" id="docTitle"><%= title %></h3>
</div>

<!-- Toolbar#2 -->
<div class="row mg-t-s">

  <!-- เลือกยูสเซอร์ -->
  <label class="col-1-5  al-r pd-r-s">ยูสเซอร์</label>
  <div class="col-6-5 modalCtn">
    <input class="al-l pd-l-m h-100" type="text" 
            id="searchUser" placeholder="ยูสเซอร์" 
            onclick="clearSearchModal(this)" 
            onfocus="popModalUsers(event)" 
            oninput="popModalUsers(event)" 
            autocomplete="off" tabindex="-1">
    <div class="modal"><div class="modal-list"></div></div>
  </div>

  <!--  -->
  <input class="col-2 al-c" type="text" 
          id="userId" placeholder="เลขที่ยูสเซอร์" readonly>
</div>


<!-- Toolbar#3 -->
<div class="row">

  <!-- เลือก Item -->
  <label class="col-1-5 al-r pd-r-s">ไอเท็ม</label>
  <div class="col-6 modalCtn">
    <input class="al-l pd-l-m h-100" type="text" 
            id="searchItem" placeholder="ค้นหาไอเท็ม" 
            onclick="clearSearchModal(this)" 
            onfocus="popModalItems(event)" 
            oninput="popModalItems(event)" 
            autocomplete="off">
    <div class="modal"><div class="modal-list"></div></div>
  </div>
  <input class="col-2-5 al-c pd-l-m" type="text" 
          id="itemId" placeholder="ไอเท็มไอดี" readonly>
</div>

<!-- Toolbar#4 -->
<div class="row">
  <label class="col-1-5  al-r pd-r-s">เลขที่เอกสาร</label>
  <div class="col-8-5 modalCtn">
    <input class="al-c pd-l-m" type="text" 
            id="docId" placeholder="ค้นหาเอกสาร" 
            onclick="clearSearchModal(this)" 
            onfocus="popModalDocId(event)" 
            oninput="popModalDocId(event)" 
            autocomplete="off">
    <div class="modal"><div class="modal-list"></div></div>
  </div>
</div>

