<!-- #1 : Paper Header  -->
<div class="d-flex justify-content-between pd-t-m pd-b-m bb-thick">

  <!-- Logo -->
  <img src="<%= logoSrc_base64 %>" style="width:auto;height:50px;">

  <!-- ที่อยู่ -->
  <div class="al-r d-flex align-items-center">
    <div class="lh-3xs">
      <p class="fs-sm fw-b"><%= HEADER_COMPANY_NAME %></p>
      <p><span class="fs-s fi"><%= HEADER_LINE_2 %></span></p>
      <p><span class="fs-s fi"><%= HEADER_LINE_3 %></span></p>
    </div>
  </div>
</div>